html {
  overflow: hidden;
}

.project-card {
  font-size: 20px;
  //background-color: #567896;
  background-color: #181818;
  /* border-radius: 12px; */
  padding: 4rem;
  text-align: center;
  /* box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); */
  height: 50rem;
  margin: 3.3rem;

  border-radius: 30px 30px 30px 30px;
  box-shadow: 1.5rem 1.5rem 3rem rgb(7, 69, 35, 0.8);
  transition: transform 1.5 ease, box-shadow 0.3 ease;
  overflow: hidden;
}

// The image of the project
.project-img {
  padding-top: 2rem;
  //margin-top: 1rem;
  //margin-bottom: 3rem;
  width: 600px;
  height: 20em; /* Fixed height for all images */
  object-fit: contain;
  transform: scaleX(2); // Ensures image covers the area without distortion
}

// .project-card:hover {
//   transform: translateY(-5px); // Lifts the card up slightly
//   box-shadow: 2rem 1.5rem 1.5rem #09210b;
// }

.project-title {
  font-size: 5rem; //   1.25rem;
  font-weight: 600;
  //margin-bottom: 0.25rem;
  margin-bottom: 0.25rem;
  color: #8ec3c3;
  margin-top: -5px;

  padding-top: 1rem;
}

.project-description {
  font-size: 1.5rem; // 0.9rem;
  color: #6b9080;
  //color: #0d4843;
  margin-bottom: 1rem;
}

.project-links {
  display: flex;
  gap: 1rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  font-size: 1.5rem;
}

.project-link {
  text-decoration: none;
  font-weight: 500;
  color: pink; // Highlight Color
}

.project-link:hover {
  text-decoration: underline;
}

anchor-icon.active {
  svg {
    color: PINK;
  }
}
