html {
    overflow: hidden;
}

// Container for all the project cards
.project-holder {
    max-width: 1200px;
    width: 100vw;
    margin: 0 auto;
    background: #a4c3b2;
}

// Each Project Card Container
.project-card {
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-rows: 20% 60% 10% 5% 5%;
    grid-template-areas:
        "title"
        "image"
        "description"
        "tech"
        "repo";

    border-radius: 20px;
    overflow: hidden;

    box-sizing: border-box;
}

.project-title,
.project-description,
.project-technologies,
.project-repo {
    overflow: hidden;
    text-overflow: ellipsis;
}

.project-title {
    grid-area: title;
}

.project-image {
    grid-area: image;
    overflow: hidden;
    
}

.project-image .splide,
.project-image .splide__track,
.project-image .splide__list,
.project-image .splide__slide {
    width: 100%;

    
    
}



.project-description {
    grid-area: description;
}

.project-technologies {
    grid-area: tech;
}

.project-repo {
    grid-area: repo;
}

/* Optional: Scrolling for Text-Heavy Projects */
// .project-description {
//     overflow-y: auto;
// }






.project-image {
    height: 100%;
    width: 100%;
    overflow: hidden;
}






// Title for the Individual Project
.project-title {
    
    font-size: 8rem;
    background-color: goldenrod;
}

.project-description {
    
    background-color: brown;
}

.project-technologies {
    
    background-color: cyan;
}

.project-repo {
    
    color: magenta;
}

.project-img{
    background-color: darkviolet;
    height: 100%;
    width: 100%;
    padding: 1px;
    //border: 5px solid pink;
   // margin: 2px;
    //object-fit: contain;
}

.true-img {
   // height: 100%;
}


// Splide Arrows Styling
.splide__arrow {
  //background: #6b9080;
  background-color: pink;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}


/* Prevent Verticasl Scrolling inside Splide */
// .splide__track {
//     overflow: hidden !important;
// }

// .splide__list {
//     overflow: hidden !important;
// }

/* Extra saftey for Vertical Slider */
.splide.is-vertical {
    overflow: hidden;
}

