.project-card {
  background: pink;
  border-radius: 12px;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.project-img {
  width: 100%;
  height: 170px;
  border-radius: 10px;
  object-fit: cover;
  margin-bottom: 12px;
}
