.upload-container {
  position: absolute;
  transform: translate(80%, 50%);
  //transform: translatey(-10%);
  .text-zone {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
    max-height: 90%;
  }
  h2 {
    color: #006466;
    margin-top: 20px;
    font-weight: 400;
    font-size: 32px;
    font-family: sans-serif;
    letter-spacing: 3px;
    animation: fadeIn 1s 1.8s backwards;
  }
}

@media screen and (max-width: 1200px) {
  .tags,
  .home-page h1::before,
  .home-page h1::after {
    display: none;
  }

  // .home-page .text-zone {
  //   position: initial;
  //   width: 100%;
  //   transform: none;
  //   padding: 10px;
  //   box-sizing: border-box;
  // }

  .home-page {
    .text-zone {
      position: initial;
      width: 100%;
      transform: none;
      padding: 10px;
      box-sizing: border-box;
    }
  }

  // .home-page .flat-button {
  //   float: none;
  //   display: block;
  //   margin: 20px auto 0 auto;
  //   width: 124px;
  // }

  // 'Contact Me' button
  .home-page {
    .flat-button {
      float: none;
      display: block;
      margin: 20px auto 0 auto;
      //width: 125px;
      width: 400px;
    }
  }

  // The " 'K' 'KMcEwan' " logo that is forest green
  .logo-container {
    position: relative;
    // width: 100px;
    width: 75%;
    height: auto;
    top: 50px;
    bottom: 50px;
    right: 0;
    box-sizing: border-box;
    margin: auto;
    left: 0;
  }

  .logo-container svg {
    position: absolute;
    top: auto;
    right: auto;
    bottom: auto;
    left: 0;
    margin: auto;
  }
}
