html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font: 300 11px/1.4 'Helvetica Neue', 'sans-serif';
  color: #8ec3c4;
  background: #a4c3b2;
  overflow: hidden;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* This is for the ' ../Dashboard/index.js  ' */
.dashboard {
  margin-top: 200px;
  margin-left: 200px;
}

/* This is for the ' ../Dashboard/home.js ' */
.dash-home {
  margin-left: 200px;
  margin-top: 200px;
  margin-right: 200px;
  background-color: #006466;
  border: 1px solid #f6fff8;
  color: #f6fff8;
  display: flow-root;
}


/* Mobile Optimization (responsive) */
@media screen and (max-width: 1200px) {
  body {
    overflow: visible;
  }
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
